@import "tailwindcss";

@layer utilities {

    @font-face {
        font-family: 'ABCDiatypeEdu';
        src: url('/src/assets/fonts/ABCDiatypeEdu/ABCDiatypeEdu-Light.woff2') format('woff2');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'ABCDiatypeEdu';
        src: url('/src/assets/fonts/ABCDiatypeEdu/ABCDiatypeEdu-LightItalic.woff2') format('woff2');
        font-weight: 300;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: 'ABCDiatypeEdu';
        src: url('/src/assets/fonts/ABCDiatypeEdu/ABCDiatypeEdu-Medium.woff2') format('woff2');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'ABCDiatypeEdu';
        src: url('/src/assets/fonts/ABCDiatypeEdu/ABCDiatypeEdu-MediumItalic.woff2') format('woff2');
        font-weight: 500;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: 'ABCDiatypeEdu';
        src: url('/src/assets/fonts/ABCDiatypeEdu/ABCDiatypeEdu-Bold.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'ABCDiatypeEdu';
        src: url('/src/assets/fonts/ABCDiatypeEdu/ABCDiatypeEdu-BoldItalic.woff2') format('woff2');
        font-weight: 700;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: 'ABCDiatypeEdu';
        src: url('/src/assets/fonts/ABCDiatypeEdu/ABCDiatypeEdu-Black.woff2') format('woff2');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'ABCDiatypeEdu';
        src: url('/src/assets/fonts/ABCDiatypeEdu/ABCDiatypeEdu-BlackItalic.woff2') format('woff2');
        font-weight: 900;
        font-style: italic;
        font-display: swap;
    }

    body {
        font-family: 'ABCDiatypeEdu', sans-serif;
    }

    *{
        @apply leading-[1.05] tracking-tight;
    }

    html, body {
        height: 100dvh;
        width: 100%;
        overflow-x: hidden;
        scrollbar-width: none; 
        -ms-overflow-style: none; 
    }

    ::-webkit-scrollbar {
        display: none;
    }

    a{
        @apply text-xs sm:text-sm;
    }

    .box{
        @apply px-[6px] py-[6px] rounded-md backdrop-blur-lg bg-white/30 text-white/90;
    }

    .title{
        @apply text-xl md:text-2xl lg:text-2xl xl:text-3xl 2xl:text-4xl font-light;
    }

    
    .text{
        @apply text-xs md:text-sm lg:text-base xl:text-lg 2xl:text-2xl;
    }

    .title-card{
        @apply text-4xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-3xl 2xl:text-4xl font-light;
    }


    .text-card{
        @apply text-xl sm:text-base md:text-lg lg:text-base xl:text-lg 2xl:text-2xl;
    }


    .fadeIn {
        opacity: 0;
        animation: fadeIn 1.5s ease-in-out forwards;
    }

    @keyframes fadeIn {
        0% {
            visibility: hidden;
            opacity: 0;
        }
        1% {
            visibility: visible;
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }


    .anim-delay-1000ms { animation-delay: 1000ms; }
    .anim-delay-1400ms { animation-delay: 1400ms; }
    .anim-delay-1500ms { animation-delay: 1500ms; }
    .anim-delay-1600ms { animation-delay: 1600ms; }
    .anim-delay-1700ms { animation-delay: 1700ms; }
    .anim-delay-1800ms { animation-delay: 1800ms; }
    .anim-delay-1900ms { animation-delay: 1900ms; }
    .anim-delay-2000ms { animation-delay: 2000ms; }
    .anim-delay-2100ms { animation-delay: 2100ms; }
    .anim-delay-2200ms { animation-delay: 2200ms; }
    .anim-delay-2300ms { animation-delay: 2300ms; }
    .anim-delay-2400ms { animation-delay: 2400ms; }
    .anim-delay-2500ms { animation-delay: 2500ms; }
    .anim-delay-2600ms { animation-delay: 2600ms; }
    .anim-delay-2700ms { animation-delay: 2700ms; }
    .anim-delay-2800ms { animation-delay: 2800ms; }
    .anim-delay-2900ms { animation-delay: 2900ms; }
    .anim-delay-3000ms { animation-delay: 3000ms; }

}