---

import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import Mission from '../components/Mission.astro';
import Team from '../components/Team.astro';
import Process from '../components/Process.astro';
import { astroI18n, t } from "astro-i18n";
astroI18n.locale;
---

<Layout>
	<div x-data>
		<Mission />
		<Team />
		<Process />
	</div>
</Layout>
