---

interface Props {
  src: string;
  alt: string;
  link: string;

}

const { src, alt, link } = Astro.props;

---

<a
    href={link}
    target="_blank"
    class="group w-full h-full aspect-square box flex items-center justify-center"
>
    <img
        src={src}
        alt={alt}
        class="w-full m-6 md:m-8 lg:m-10 group-hover:opacity-50 transition-opacity"
    />
</a>