---
interface Props {
  txt: string;
  link: string;
  id: string; // add a stable key: 'mission', 'team', 'process'
}

const { txt, link, id, ...rest } = Astro.props;
---

<a
  href={link}
  {...rest}
  :class="{ 'bg-white/50 text-white': $store.menu.active === id }"
  class="w-full transition box uppercase cursor-pointer hover:bg-white/50 hover:text-white"
>
  {txt}
  <slot />
</a>