---
interface Props {
    txt: string;
    link: string;
}
const { txt, link, ...rest } = Astro.props;
---

<a href={link}
   {...rest}
   class="w-full hover:bg-white/50 hover:text-white transition box uppercase cursor-pointer"
>
    {txt}
    <slot />
</a>