---
interface Props {
	txt: string;
	link: string;
}

const { txt, link } = Astro.props;
---


<a href={link}
class="w-full hover:bg-white/50 hover:text-white transition box"
>
    {txt}
    <slot />
</a>