---
import { astroI18n, t } from "astro-i18n";
astroI18n.locale;

---

<div 
  x-data 
  x-show="$store.menu.active === 'mission'" 
  x-transition.opacity.duration.200ms
  x-cloak
  class="flex flex-col w-full gap-1 font-light mb-24"
>
   <div class="box w-full">
        <div class="title">{t("Mission.1")}</div>
    </div>
    <div class="box w-full">
        <div class="text uppercase mb-1 opacity-50">{t("Mission.2")}</div>
        <div class="title">{t("Mission.3")}</div>
    </div>
    <div class="box w-full">
        <div class="text uppercase mb-1 opacity-50">{t("Mission.4")}</div>
        <div class="title">{t("Mission.5")}</div>
    </div>
    <div class="box w-full">
        <div class="text uppercase mb-1 opacity-50">{t("Mission.6")}</div>
        <div class="title">{t("Mission.7")}</div>
    </div>
</div>