---

import { astroI18n, t } from "astro-i18n";
import ProcessCard from "./ProcessCard.astro";
astroI18n.locale;

---
<!-- x-show="$store.menu.active === 'process'" -->
<div 
  x-transition.opacity.duration.200ms
  x-show="$store.menu.active === 'process'"
  x-cloak
  class="relative w-full flex flex-col items-start"
>

    <div class="flex flex-col">
        <ProcessCard
            status="done"
            title="Concept & Research"
            text="We analyze the context, gather insights, and define project goals to ensure a strong foundation."
        />
        <ProcessCard
            status="current"
            title="Design & Simulation"
            text="We develop models, run simulations, and iterate to find the most efficient configuration."
        />
        <ProcessCard
            status="upcoming"
            title="Testing & Delivery"
            text="We validate results, refine outputs, and prepare everything for deployment."
        />
    </div>

</div>