---
import TeamCard from "./TeamCard.astro";
import LogoCard from "./LogoCard.astro";
import { astroI18n, t } from "astro-i18n";
astroI18n.locale;

---
<!-- x-show="$store.menu.active === 'team'" -->
<div 
    x-transition.opacity.duration.200ms
    x-show="$store.menu.active === 'team'"
    x-cloak
    class="w-full flex flex-col gap-1 mb-24"
>


    <div class="w-full title-card box">ASP Students</div>
    <div class="w-full grid sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 gap-1">
        <TeamCard
            NomeCognome="Andrea Pantano"
            Description={t("Team.Students.AndreaP.Description")}
            Master={t("Team.Students.AndreaP.Master")}
            University={t("Team.Students.AndreaP.University")}
            Email="andrea.pantano@asp-poli.it"
            Linkedin="https://www.linkedin.com/in/andrea-pantano-84b805258?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
            Website=""
        />
        <TeamCard
            NomeCognome="Andrea Tarabotto"
            Description={t("Team.Students.AndreaT.Description")}
            Master={t("Team.Students.AndreaT.Master")}
            University={t("Team.Students.AndreaT.University")}
            Email="andrea.tarabotto@asp-poli.it"
            Linkedin="https://www.linkedin.com/in/andrea-tarabotto?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
            Website=""
        />
        <TeamCard
            NomeCognome="Cosmo Spinosa"
            Description={t("Team.Students.Cosmo.Description")}
            Master={t("Team.Students.Cosmo.Master")}
            University={t("Team.Students.Cosmo.University")}
            Email="cosmo.spinosa@asp-poli.it"
            Linkedin="https://www.linkedin.com/in/matteopostinghel/"
            Website=""
        />
        <TeamCard
            NomeCognome="Davide Cortinovis"
            Description={t("Team.Students.Davide.Description")}
            Master={t("Team.Students.Davide.Master")}
            University={t("Team.Students.Davide.University")}
            Email="davide1.cortinovis@asp-poli.it"
            Linkedin="www.linkedin.com/in/davide-cortinovis-8b6690243"
            Website=""
        />
        <TeamCard
            NomeCognome="Giulia De Pascale"
            Description={t("Team.Students.Giulia.Description")}
            Master={t("Team.Students.Giulia.Master")}
            University={t("Team.Students.Giulia.University")}
            Email="giulia.depascale@asp-poli.it"
            Linkedin="https://www.linkedin.com/in/giulia-de-pascale/"
            Website=""
        />
        <TeamCard
            NomeCognome="Nunzio Licalzi"
            Description={t("Team.Students.Nunzio.Description")}
            Master={t("Team.Students.Nunzio.Master")}
            University={t("Team.Students.Nunzio.University")}
            Email="nunzio.licalzi@asp-poli.it"
            Linkedin="https://it.linkedin.com/in/nunzio-licalzi-0847a7295"
            Website="https://github.com/Nuzz23"
        />
        <TeamCard
            NomeCognome="Matteo Postinghel"
            Description={t("Team.Students.Matteo.Description")}
            Master={t("Team.Students.Matteo.Master")}
            University={t("Team.Students.Matteo.University")}
            Email="matteo.postinghel@asp-poli.it"
            Linkedin="https://www.linkedin.com/in/matteopostinghel/"
            Website="https://matteopostinghel.com/"
        />
        <TeamCard
            NomeCognome="Riccardo Savio"
            Description={t("Team.Students.Riccardo.Description")}
            Master={t("Team.Students.Riccardo.Master")}
            University={t("Team.Students.Riccardo.University")}
            Email="riccardo.savio@asp-poli.it"
            Linkedin="https://www.linkedin.com/in/riccardo-savio/"
            Website=""
        />
   
    </div>

    <div class="w-full title-card box">Professors</div>
    <div class="w-full grid sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 gap-1">
       <TeamCard
            NomeCognome="Andrea Pantano"
            Description={t("Team.Students.AndreaP.Description")}
            Master={t("Team.Students.AndreaP.Master")}
            University={t("Team.Students.AndreaP.University")}
            Email="andrea.pantano@asp-poli.it"
            Linkedin="https://www.linkedin.com/in/matteopostinghel/"
            Website="https://matteopostinghel.com/"
        />
        <TeamCard
            NomeCognome="Andrea Tarabotto"
            Description={t("Team.Students.AndreaT.Description")}
            Master={t("Team.Students.AndreaT.Master")}
            University={t("Team.Students.AndreaT.University")}
            Email="andrea.tarabotto@asp-poli.it"
            Linkedin="https://www.linkedin.com/in/matteopostinghel/"
            Website="https://matteopostinghel.com/"
        />
        <TeamCard
            NomeCognome="Cosmo Spinosa"
            Description={t("Team.Students.Cosmo.Description")}
            Master={t("Team.Students.Cosmo.Master")}
            University={t("Team.Students.Cosmo.University")}
            Email="cosmo.spinosa@asp-poli.it"
            Linkedin="https://www.linkedin.com/in/matteopostinghel/"
            Website="https://matteopostinghel.com/"
        />
        <TeamCard
            NomeCognome="Davide Cortinovis"
            Description={t("Team.Students.Davide.Description")}
            Master={t("Team.Students.Davide.Master")}
            University={t("Team.Students.Davide.University")}
            Email="davide1.cortinovis@asp-poli.it"
            Linkedin="www.linkedin.com/in/davide-cortinovis-8b6690243"
            Website=""
        />
    </div>

    <div class="w-full title box sticky top-2 max-sm:top-[214px] z-40">Partners</div>
    <div class="w-full grid grid-cols-2 gap-1">
        <LogoCard
            src="/logo/logo polimi.svg"
            alt="polimi"
            link="https://polimi.it/"
        />
        <LogoCard
            src="/logo/logo polito.svg"
            alt="polito"
            link="https://www.polito.it/"
        />
    </div>


</div>